* {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif; }

body {
  background: #2c3e50;
  margin: 0;
  /*==================================
  			NAV BAR
  ==================================*/
  /*==================================
  			TABLE SECTION
  ==================================*/
  /*==================================
  		ONE STUDENT INFO P
  ==================================*/
  /*==================================
  			FORM
  ==================================*/
  /*==================================
  			FOOTER
  ==================================*/ }
  body p {
    color: black;
    margin-left: 20px; }
  body #container {
    width: 500px; }
  body ul {
    background: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 100%; }
    body ul li {
      font-size: 1.5em;
      font-weight: bold;
      text-transform: uppercase;
      padding: 15px; }
      body ul li a {
        color: #f1c40f;
        padding: 15px; }
        body ul li a:hover {
          color: white;
          text-decoration: none; }
  body table {
    background: black;
    border-collapse: collapse;
    color: #f1c40f;
    margin: 50px auto;
    width: 60%; }
    body table, body table tr, body table th, body table td {
      border: 3px solid #2c3e50;
      font-weight: bold;
      text-align: center;
      padding: 5px; }
    body table th {
      color: white;
      text-transform: uppercase; }
    body table button {
      padding: 10px; }
      body table button a:hover {
        text-decoration: none; }
  body #one_student_div p {
    background: black;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    width: 350px; }
  body #one_student_div span {
    color: #f1c40f;
    font-size: 1.5em;
    font-weight: bold; }
  body form {
    background: black;
    border-radius: 10px;
    margin: 50px auto 100px;
    padding: 20px;
    text-align: center;
    width: 400px; }
    body form p {
      color: white; }
    body form h1 {
      color: white;
      margin: 0; }
    body form label {
      color: #f1c40f;
      margin: 10px 0; }
    body form input, body form select {
      border: none;
      border-radius: 5px;
      padding: 10px;
      width: 80%; }
    body form [type="submit"] {
      margin-top: 20px;
      width: 50%; }
  body footer {
    background: black;
    bottom: 0;
    color: #f1c40f;
    height: 70px;
    padding: 15px;
    position: fixed;
    text-align: center;
    width: 100%; }
    body footer p {
      color: #f1c40f;
      margin-bottom: 15px; }
